@page
@model FoodListRazor.Pages.FoodList.IndexModel

<br/>

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List</h2>
    </div>

    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control">Make new Food</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Foods.Count() > 0)
            {
                    <table class="table table-striped border">
                            <tr class="table-secondary">
                                <th>
                                    <label asp-for="Foods.FirstOrDefault().Name"></label>
                                </th>
                                <th>
                                    <label asp-for="Foods.FirstOrDefault().Chef"></label>
                                </th>
                                <th>
                                    <label asp-for="Foods.FirstOrDefault().Country"></label>
                                </th>
                            </tr>
                        @foreach(var item in Model.Foods)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Chef)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Country)
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                    <a class="btn btn-success btn-sm text-white">Edit</a>
                                </td>
                            </tr>
                        }
                    </table>
            }
            else
            {
                <p>No Foods here.</p>
            }
        </form>
    </div>
</div>